<%- include("./partials/header") %>

<br>

<!-- ============================================================================================= -->
<!-- Button for Add DD -->
<!-- ============================================================================================= -->
<button class="btn btn-primary" data-toggle="modal" data-target="#he-modal">
  Add HA DD's
</button>

<!-- Add DD Modal -->
<div class="modal fade" id="he-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload HE DD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/ha-dd/upload" method="POST">
        <div class="modal-body">
          <textarea id="excel_data" name="excel_data" style="width:250px;height:150px;"></textarea>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- ============================================================================================= -->
<!-- Display DD Table -->
<!-- ============================================================================================= -->
<div id="display-card" class="card shadow mb-4">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-striped table-bordered" id="dataTable">
        <thead>
          <tr>
            <th scope="col">Truck</th>
            <th scope="col">Model</th>
            <th scope="col">Units</th>
            <th scope="col">Customer</th>
            <th scope="col">W/H</th>
            <th scope="col">Slot_Date</th>
            <th scope="col">Slot_Time</th>
            <th scope="col">Reserv._No</th>
            <th scope="col">Status</th>
            <th scope="col">Line_Status</th>
            <th scope="col">Order_No</th>
            <th scope="col">Line_No</th>
            <th scope="col">Select</th>
            <th scope="col">Detail</th>
            <th scope="col">
              <form action="/ha-dd?_method=DELETE" method="POST">
                <div class="text-center">
                  <button class="p-1 btn btn-danger btn-sm">Delete_All</button>
                </div>
              </form>
            </th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((detail) => { %>
          <tr>
            <td class="truck-td">
              <form class="truck-update" action="/ha-dd/<%= detail._id %>/truck?_method=PUT" method="POST">
                <% if (detail.Truck === "") { %>
                <input type="text" name="truck">
                <% } else { %>
                <%= detail.Truck %>
                <% } %>
              </form>
            </td>
            <td><%= detail["Model"] %></td>
            <td><%= detail["Order Qty"] %></td>
            <td><%= detail["Bill To Name"] %></td>
            <td><%= detail["Inventory Org"] %></td>
            <td class="slotDate-td" data-id="<%= detail._id %>">
              <% if (detail["Slot Date"] === null) { %>
              <%= detail["Slot Date"] %>
              <% } else { %>
              <% let month = detail["Slot Date"].getMonth() + 1 %>
              <% let day = detail["Slot Date"].getDate() %>
              <% let year = detail["Slot Date"].getFullYear() %>

              <% if (month < 10) { %>
              <% month = "0" + month; %>
              <% } %>
              <% if (day < 10) { %>
              <% day = "0" + day; %>
              <% } %>

              <%= month + "/" + day + "/" + year %>
              <% } %>
            </td>
            <td class="slotTime-td">
              <% let slotTime = detail["Slot Date"].toUTCString() %>
              <% slotTime = slotTime.split(" ") %>

              <%= slotTime[4].slice(0, 2) + ":" + slotTime[4].slice(3, 5) %>
            </td>
            <td><%= detail["Reservation No"] %></td>
            <td><%= detail["Status"] %></td>
            <td><%= detail["Sub- Inventory"] %></td>
            <td><%= detail["Order No"] %></td>
            <td><%= detail["Line No"] %></td>
            <td>
              <form class="mark" action="/ha-dd/<%= detail._id %>?_method=PUT" method="POST">
                <input class="checkbox" type="checkbox" name="checkbox" <%= detail.marked ? "checked" : ""  %>>
              </form>
            </td>
            <td>
              <form action="/ha-dd/<%= detail._id %>" method="GET">
                <div class="text-center">
                  <button class="p-1 btn btn-outline-info btn-sm">Info</button>
                </div>
              </form>
            </td>
            <td>
              <form action="/ha-dd/<%= detail._id %>?_method=DELETE" method="POST">
                <div class="text-center">
                  <button class="btn btn-outline-danger btn-sm">X</button>
                </div>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ZingGrid -->
<!-- <zing-grid id="example-grid" caption="HA DD"></zing-grid> -->

<script src="../controller/table.js"></script>

<%- include("./partials/footer") %>